<div class="col-lg-6 bottommargin-sm" style="display: flex; justify-content: flex-start;">
    <div class="white-section">
        <label>Área:</label>
        <select class="selectpicker" name="area" id="area" multiple data-none-selected-text="Seleccione una opción">
            <option value="A000">Sin Área</option>
            <option value="A010">Administración</option>
            <option value="A020">Comercialización / ventas / Serv. A clientes</option>
            <option value="A030">Compras</option>
            <option value="A040">Distribución / Logística</option>
            <option value="A050">Finanzas</option>
            <option value="A060">Fiscal</option>
            <option value="A070">General</option>
            <option value="A080">Informática / Sistemas IT</option>
            <option value="A090">Legal</option>
            <option value="A100">Mercadotecnia</option>
            <option value="A110">Operaciones / Producción</option>
            <option value="A120">Recursos Humanos / Capacitación</option>
        </select>

        <label>Puestos:</label>
        <select class="selectpicker" name="puesto" id="puesto" multiple data-none-selected-text="Seleccione una opción">
            <option value="P000">Sin puesto</option>
            <option value="P010">Presidencia / Dueño</option>
            <option value="P020">Director</option>
            <option value="P030">Gerente</option>
            <option value="P040">Jefe</option>
            <option value="P050">Empleado</option>
            <option value="P060">Consultor</option>
            <option value="P070">Catedrático</option>
            <option value="P080">Empleado</option>
            <option value="P090">Consejero</option>
        </select>

        <label>Estado del Contacto:</label>
        <select class="selectpicker" name="estado_c" id="estado_c" multiple data-none-selected-text="Seleccione una opción">
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
            <option value="Marcado para eliminar">Marcado para eliminar</option>
            <option value="Difunto">Difunto</option>
            <option value="Principal">Principal</option>
            <option value="Ocasional">Ocasional</option>
            <option value="Temporal">Temporal</option>
        </select>
    </div>
</div>