<!--Filtros de "Empresa"-->
<div class="col-lg-6 bottommargin-sm " style="display: flex; justify-content: flex-start;">
    <div class="white-section spbs">
        <label>Sector:</label>
        <select class="selectpicker" name="sector" id="sector" multiple data-none-selected-text="Seleccione una opción">
            <option value="Agricultura/Ganaderia">Agricultura/Ganaderia</option>
            <option value="Alimentos / Bebidas">Alimentos / Bebidas</option>
            <option value="Calzado, Articulos de piel, Accesorios">Calzado, Articulos de piel, Accesorios</option>
            <option value="Farmaceutica">Farmaceutica</option>
            <option value="Higiene y Belleza">Higiene y Belleza</option>
            <option value="Textiles / Vestido">Textiles / Vestido</option>
            <option value="Transporte Acuatico">Transporte Acuatico</option>
            <option value="Transporte Aereo">Transporte Aereo</option>
            <option value="Transporte Terrestre">Transporte Terrestre</option>
        </select>
        <label>Ramo Industrial:</label>
        <select class="selectpicker" name="ramo_i" id="ramo_i" multiple data-none-selected-text="Seleccione una opción">
            <option value="M0">M0</option>
            <option value="M1">M1</option>
            <option value="M2">M2</option>
            <option value="M3">M3</option>
            <option value="M4">M4</option>
            <option value="M5">M5</option>
            <option value="M6">M6</option>
            <option value="M7">M7</option>
            <option value="M8">M8</option>
            <option value="M9">M9</option>
            <option value="M10">M10</option>
            <option value="M11">M11</option>
            <option value="LEI">LEI</option>
            <option value="CD">CD</option>
            <option value="C1">C1</option>
            <option value="C2">C2</option>
            <option value="C3">C3</option>
            <option value="C4">C4</option>
            <option value="C5">C5</option>
            <option value="C6">C6</option>
            <option value="C7">C7</option>
            <option value="C8">C8</option>
            <option value="C9">C9</option>
            <option value="C10">C10</option>
            <option value="C11">C11</option>
            <option value="FE">FE</option>
            <option value="T1">T1</option>
            <option value="T2">T2</option>
            <option value="T3">T3</option>
            <option value="T4">T4</option>
            <option value="T5">T5</option>
            <option value="T6">T6</option>
            <option value="T7">T7</option>
            <option value="T8">T8</option>
            <option value="T9">T9</option>
            <option value="T10">T10</option>
            <option value="T11">T11</option>
            <option value="NA">NA</option>
            <option value="NB">NB</option>
        </select>
        <label>Estatus COD:</label>
        <select class="selectpicker" name="estatus_cod" id="estatus_cod" multiple data-none-selected-text="Seleccione una opción">
            <option value="Activa">Activa</option>
            <option value="No Activa">No Activa</option>
            <option value="SinServicio">SinServicio</option>
            <option value="Moroso">Moroso</option>
        </select>
        <label>Estatus mensual:</label>
        <select class="selectpicker" name="estatus_men" id="estatus_men" multiple data-none-selected-text="Seleccione una opción">
            <option value="Interesado">Interesado</option>
            <option value="Asociado">Asociado</option>
            <option value="No Asociado">No Asociado</option>
        </select>
    </div>
    <div class="white-section spbs">
        <label>Giro:</label>
        <select class="selectpicker" name="giro" id="giro" multiple data-none-selected-text="Seleccione una opción">
            <option value="Agroindustria / Pesca / Extracción">Agroindustria / Pesca / Extracción</option>
            <option value="Bebidas (alcohólicas)">Bebidas (alcohólicas)</option>
            <option value="Bebidas (no alcohólicas)">Bebidas (no alcohólicas)</option>
            <option value="Calzado">Calzado</option>
            <option value="Comercio Detallista">Comercio Detallista</option>
            <option value="Ropa/accesorios">Ropa/accesorios</option>
            <option value="Transporte Almacenaje y comunicaciones">Transporte Almacenaje y comunicaciones</option>
            <option value="Transporte en camión">Transporte en camión</option>
            <option value="Transporte por agua">Transporte por agua</option>
            <option value="Transporte">Transporte</option>
            <option value="Venta al por menor (ropa)">Venta al por menor (ropa)</option>
        </select>
        <label>Entidad Federativa:</label>
        <select class="selectpicker" name="entidad_f" id="entidad_f" multiple data-none-selected-text="Seleccione una opción">
            <option value="AGS">AGS</option>
            <option value="BC">BC</option>
            <option value="BCS">BCS</option>
            <option value="CHI">CHI</option>
            <option value="CHS">CHS</option>
            <option value="CMP">CMP</option>
            <option value="COA">COA</option>
            <option value="COL">COL</option>
            <option value="CMX">CMX</option>
            <option value="DGO">DGO</option>
            <option value="GRO">GRO</option>
            <option value="GTO">GTO</option>
            <option value="HGO">HGO</option>
            <option value="JAL">JAL</option>
            <option value="MCH">MCH</option>
            <option value="MEX">MEX</option>
            <option value="MOR">MOR</option>
            <option value="NAY">NAY</option>
            <option value="NL">NL</option>
            <option value="OAX">OAX</option>
            <option value="PUE">PUE</option>
            <option value="QR">QR</option>
            <option value="QRO">QRO</option>
            <option value="SIN">SIN</option>
            <option value="SLP">SLP</option>
            <option value="SON">SON</option>
            <option value="TAB">TAB</option>
            <option value="TLX">TLX</option>
            <option value="TMS">TMS</option>
            <option value="VER">VER</option>
            <option value="YUC">YUC</option>
            <option value="ZAC">ZAC</option>
            <option value="Otros">Otros</option>
        </select>
        <label>Tamaño MKT:</label>
        <select class="selectpicker" name="tamano" id="tamano" multiple data-none-selected-text="Seleccione una opción">
            <option value="Pequeñas">Pequeñas</option>
            <option value="Medianas">Medianas</option>
            <option value="Grandes">Grandes</option>
            <option value="Otros">Otros</option>
        </select>
        <label>Estatus General:</label>
        <select class="selectpicker" name="estatus_g" id="estatus_g" multiple data-none-selected-text="Seleccione una opción">
            <option value="Morosa">Morosa</option>
            <option value="Activa">Activa</option>
            <option value="No Activa">No Activa</option>
        </select>
        <label>Estatus CAT:</label>
        <select class="selectpicker" name="estatus_cat" id="estatus_cat" multiple data-none-selected-text="Seleccione una opción">
            <option value="Activa">Activa</option>
            <option value="No Activa">No Activa</option>
            <option value="SinServicio">SinServicio</option>
            <option value="Moroso">Moroso</option>
        </select>
    </div>
    <div class="white-section spbs">
        <label>Región NIELSEN:</label>
        <select class="selectpicker" name="region" id="region" multiple data-none-selected-text="Seleccione una opción">
            <option value="VALLE DE MÉXICO">Valle de México</option>
            <option value="CENTRO">Centro</option>
            <option value="BAJÍO">Bajío</option>
            <option value="NORTE">Norte</option>
            <option value="Sureste">Sureste</option>
            <option value="PACÍFICO">Pacífico</option>
            <option value="Otros">Otros</option>
        </select>
        <label>Industria:</label>
        <select class="selectpicker" name="industria" id="industria" multiple data-none-selected-text="Seleccione una opción">
            <option value="Fabricante">Fabricante</option>
            <option value="Moda">Moda</option>
            <option value="Salud">Salud</option>
            <option value="Financiero">Financiero</option>
            <option value="Alimentos Frescos / Agro">Alimentos Frescos/Agro</option>
            <option value="Retail">Retail</option>
        </select>
        <label>Estatus LEI:</label>
        <select class="selectpicker" name="estatus_l" id="estatus_l" multiple data-none-selected-text="Seleccione una opción">
            <option value="Activa">Activa</option>
            <option value="No Activa">No Activa</option>
            <option value="SinServicio">SinServicio</option>
            <option value="Moroso">Moroso</option>
        </select>
        <label>Nivel:</label>
        <select class="selectpicker" name="nivel" id="nivel" multiple data-none-selected-text="Seleccione una opción">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="Otros">Otros</option>
        </select>
    </div>
</div>