<section id="tabla">
    <div class="content-wrap">
        <div class="container clearfix center" style="max-width: 1400px;">
            <div class="table-responsive">
                <table id="datatable1" class="display nowrap center" cellspacing="0" width="auto">
                    <thead style=" background-color: #002c6c; color: white;" class="center">
                        <tr>
                            <th>Número asociado</th>
                            <th>Nombre</th>
                            <th>A. Paterno</th>
                            <th>A. Materno</th>
                            <th>Correo</th>
                            <th>Número contacto</th>
                            <th>Puesto</th>
                            <th>Área</th>
                            <th>Estado contacto</th>
                            <th>Teléfono</th>
                            <th>Título</th>
                            <th>Región Nielsen</th>
                            <th>Entidad federativa</th>
                            <th>Colonia</th>
                            <th>Municipio</th>
                            <th>Dirección</th>
                            <th>Sector</th>
                            <th>Giro</th>
                            <th>Razón social</th>
                            <th>Ramo industrial</th>
                            <th>Nivel</th>
                            <th>Industria</th>
                            <th>Catálogo</th>
                            <th>Estándar</th>
                            <th>LEI</th>
                            <th>Estatus general</th>
                            <th>Tamaño mkt</th>
                            <th>Estatus Mensual</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se cargarán los datos dinámicamente -->
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12 d-flex mt-5 p-0">

                <div class="col-lg-2">
                    <div class="btn-group ps-3">
                        <button id="generar-btn" class="boton bsb submit_btn">
                            GENERAR REPORTE
                        </button>
                    </div>
                </div>

                <div class="col-lg-10 text-end" id="descargar-btn-container" style="display: none;"> 
                    <span>El archivo está listo para la descarga.</span>
                    <div class="btn-group ps-3">
                        <button id="descargar-btn" class="boton_D bsb download-btn" style="background-color: #016d3d !important; color: white;"><i class="icon-download1"></i> Descargar <i class="icon-file-excel"></i></button>
                    </div>
                </div>

            </div>
            <br>
        </div>
    </div>
</section>

