<!-- Contenido principal -->
<section>
    <br>
    <!-- Page Title ============================================= -->
    <section id="page-title">

        <div class="col-lg-6 admin-t">
            <h3 class="titleStrongBlue"><i class="bi bi-database-fill"></i>BASE MAESTRA</h3>
        </div>

    </section><!-- #page-title end -->

</section><!-- #page-title end -->
<br>