<footer id="footer" class="footer-border">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights" class="footer_div-bg p-2">
            <div class="col-4">
                <img src="images/powered.png" class="footer_img-powered" alt="logo">
            </div>
            <div class=" col-4">
                <span class="footer_span-copy">GS1 México | BASE MAESTRA <span id="year"></span></span>
            </div>
            <div class="col-4">
                <img src="images/tssc.png" class="footer_img-tssc" alt="logo tssc">
                <img src="images/ELK.png" class="footer_img-elk" alt="logo ELK">
            </div>
    </div><!-- #copyrights end -->

</footer><!-- #footer end -->