<header>
    <!-- Logo -->
    <div class="logo-icon">
    </div>
    
    <!-- Botones del lado derecho -->
    <div class="hd1">
        <span class="bnv">BIENVENIDO</span>
        <!-- <span class="bnvU">BIENVENIDO</span> -->
        <i class="bi bi-dot icon" style="color: white;"></i>
        <span id="UserLogin" style="color: white; font-weight: 700;"></span>
    </div>
    
</header>

<!-- Barra naranja debajo del header -->
<div class="barra-naranja">
    <!-- Logo ============================================= -->
    <div id="logo">
        <a href="home">
            <img class="logo-home" srcset="images/logo_ini.png, images/logo_ini.png" src="images/logo_ini.png"  alt="GS1 Logo">
        </a>
    </div>
    <!-- #logo end -->

    <!-- Primary Navigation ============================================= -->
    <nav class="primary-menu">

        <ul class="menu-container nav_ul-item">
            <li class="menu-item ">
                <a class="menu-link text-h" href="/home"><div>Inicio</div></a>
            </li>

            <li class="menu-item ">
                <a class="menu-link text-h" href="/BaseMaestra"><div>Base Maestra</div></a>
            </li>
            
            <li class="menu-item">
                <a class="menu-link" href="/logout"><div><i class="bi bi-box-arrow-in-right text-i"></i></div></a>
            </li>
            
        </ul>

    </nav><!-- #primary-menu end -->
</div>
