<!-- Contenido principal -->
<section>
    <br>
    <div class="center">
        <h1 class="azul">Bienvenido</h2>
    </div>

</section><!-- #page-title end -->
<br>
<br>
<br>
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix center">

            <img src="/images/logoga.png" alt="">
        </div>
    </div>
</section><!-- #content end -->