<!-- Contenido principal -->
<section>
    <br>
    <!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix center">
                <h1 class="azul">Bienvenido Administrador</h1>
				<br/>
				<div class="center" >
					<a href="/creacion" id="boton" class="button botonAgregar boton" role="button"><i class="bi bi-plus-lg"></i> Manejo de Usuario <i class="bi bi-people-fill"></i></a>
				</div> 
			</div>

		</section><!-- #page-title end -->

</section><!-- #page-title end -->
<br>
<br>
<br>
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix center">

            <img src="/images/logoga.png" alt="">
        </div>
    </div>
</section><!-- #content end -->