<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <%- include('../partials/head'); %>
	<!-- Document Title
	============================================= -->
	<title>BASE MAESTRA GS1</title>
	<script>
		window.onpageshow = function(){
			fetch('/validar')
			.then(result => result.json())
			.then(rs => {
				console.log(rs)
				var usuario = rs.usuario
				if(!usuario){
					window.location=`/`
				}
			}) 
			.catch(error => {
				console.log("Error: ", error)
			})
		}
	</script>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
        <%- include('../partials/header'); %>
		<!-- #header end -->

        <!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-pattern">
			<div class="container clearfix">
				<h1 class="azul"><i class="icon-database"></i> BASE MAESTRA</h2><br>
				<ol class="breadcrumb">
					<button class="button button-large button-circle button-3d download-btn" style="background-color: #016d3d !important; color: white;"><i class="icon-download1"></i> Descargar Excel <i class="icon-file-excel"></i></button>
				</ol>
			</div>
		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<!--Formulario de filtros-->
				<form style="display: flex;">
					<div class="section">
						<div class="container clearfix">
							<div class="row">
								<div class="row clearfix">
									<div id="pricing-switch2" class="col-lg-6" >
										<!--Switch de "contacto"-->
										<div class="pricing-tenure-switcher" data-container="#pricing-switch2">
											<div class="pts-switcher col-auto" style="display: flex; justify-content: flex-start;">
												<h3 class="" style="color:#E1203D;">CONTACTO:</span>
												<div class="switch">
													<input id="switch-toggle-pricing-tenure2" name="auth" class="switch-toggle switch-toggle-round" type="checkbox">
													<label for="switch-toggle-pricing-tenure2" class="mb-0"></label>
												</div>
											</div>
											<div class="pts-switch-content-right d-none">
												<!--Filtros de "contacto"-->
												<div class="col-lg-6 bottommargin-sm " style="display: flex; justify-content: flex-start;">
													<div class="white-section">
														<label>Área:</label>
														<select class="selectpicker" name="area" id="area" multiple>
															<option value="A000">Sin Area</option>
															<option value="A010">Administración</option>
															<option value="A020">Comercialización / ventas /Serv. A clientes</option>
															<option value="A030">Compras</option>
															<option value="A040">Distribución / Logística</option>
															<option value="A050">Finanzas</option>
															<option value="A060">Fiscal</option>
															<option value="A070">General</option>
															<option value="A080">Informatica Sistemas it/dp/ims</option>
															<option value="A090">Legal</option>
															<option value="A100">Mercadotecnia</option>
															<option value="A110">Operaciones / Producción</option>
															<option value="A120">Recursos Humanos / Capacitación</option>
														</select>
														<label>Puestos:</label>
														<select class="selectpicker" name="puesto" id="puesto" multiple>
															<option value="P000">Sin puesto</option>
															<option value="P010">Presidencia / Dueño</option>
															<option value="P020">Director</option>
															<option value="P030">Gerente</option>
															<option value="P040">Jefe</option>
															<option value="P050">Empleado</option>
															<option value="P060">Consultor</option>
															<option value="P070">Catedrático</option>
															<option value="P080">Empleado</option>
															<option value="P090">Consejero</option>
														</select>
														<label>Estado del Contacto:</label>
														<select class="selectpicker" name="estado_c" id="estado_c" multiple>
															<option value="Activo">Activo</option>
															<option value="Inactivo">Inactivo</option>
															<option value="Marcado para eliminar">Marcado para eliminar</option>
															<option value="Difunto">Difunto</option>
															<option value="Principal">Principal</option>
															<option value="Ocasional">Ocasional</option>
															<option value="Temporal">Temporal</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="pricing-switch" class="col-lg-6" style="display: flex; justify-content: flex-end;">
										<!--Switch de "Empresa"-->
										<div class="pricing-tenure-switcher" data-container="#pricing-switch">
											<div class="pts-switcher col-auto" style="display: flex; justify-content: flex-end;">
												<h3 class="" style="color:#E1203D;" style="display: flex; justify-content: flex-end;">EMPRESA:</span>
												<div class="switch">
													<input id="switch-toggle-pricing-tenure3" name="auth" class="switch-toggle switch-toggle-round" type="checkbox">
													<label for="switch-toggle-pricing-tenure3" class="mb-0"></label>
												</div>
											</div>
											<div class="pts-switch-content-right d-none">
												<!--Filtros de "Empresa"-->
												<div class="col-lg-6 bottommargin-sm " style="display: flex; justify-content: flex-start;">
													<div class="white-section">
														<label>Sector:</label>
														<select class="selectpicker" name="sector" id="sector" multiple>
															<option value="Agricultura/Ganaderia">Agricultura/Ganaderia</option>
															<option value="Alimentos / Bebidas">Alimentos / Bebidas</option>
															<option value="Calzado, Articulos de piel, Accesorios">Calzado, Articulos de piel, Accesorios</option>
															<option value="Farmaceutica">Farmaceutica</option>
															<option value="Higiene y Belleza">Higiene y Belleza</option>
															<option value="Textiles / Vestido">Textiles / Vestido</option>
															<option value="Transporte Acuatico">Transporte Acuatico</option>
															<option value="Transporte Aereo">Transporte Aereo</option>
															<option value="Transporte Terrestre">Transporte Terrestre</option>
														</select>
														<label>Ramo Industrial:</label>
														<select class="selectpicker" name="ramo_i" id="ramo_i" multiple>
															<option value="M0">M0</option>
															<option value="M1">M1</option>
															<option value="M2">M2</option>
															<option value="M3">M3</option>
															<option value="M4">M4</option>
															<option value="M5">M5</option>
															<option value="M6">M6</option>
															<option value="M7">M7</option>
															<option value="M8">M8</option>
															<option value="M9">M9</option>
															<option value="M10">M10</option>
															<option value="M11">M11</option>
															<option value="LEI">LEI</option>
															<option value="CD">CD</option>
															<option value="C1">C1</option>
															<option value="C2">C2</option>
															<option value="C3">C3</option>
															<option value="C4">C4</option>
															<option value="C5">C5</option>
															<option value="C6">C6</option>
															<option value="C7">C7</option>
															<option value="C8">C8</option>
															<option value="C9">C9</option>
															<option value="C10">C10</option>
															<option value="C11">C11</option>
															<option value="FE">FE</option>
															<option value="T1">T1</option>
															<option value="T2">T2</option>
															<option value="T3">T3</option>
															<option value="T4">T4</option>
															<option value="T5">T5</option>
															<option value="T6">T6</option>
															<option value="T7">T7</option>
															<option value="T8">T8</option>
															<option value="T9">T9</option>
															<option value="T10">T10</option>
															<option value="T11">T11</option>
															<option value="NA">NA</option>
															<option value="NB">NB</option>
														</select>
														<label>Segmento MKT:</label>
														<select class="selectpicker" name="segmento" id="segmento" multiple>
															<option value="Soñadores">Soñadores</option>
															<option value="Rebeldes">Rebeldes</option>
															<option value="Sabios">Sabios</option>
															<option value="Amigos">Amigos</option>
															<option value="Otros">Otros</option>
														</select>
														<label>Estatus COD:</label>
														<select class="selectpicker" name="estatus_cod" id="estatus_cod" multiple>
															<option value="Activa">Activa</option>
															<option value="No Activa">No Activa</option>
															<option value="SinServicio">SinServicio</option>
															<option value="Moroso">Moroso</option>
														</select>
														<label>Estatus mensual:</label>
														<select class="selectpicker" name="estatus_men" id="estatus_men" multiple>
															<option value="Activa">Activa</option>
															<option value="No Activa">No Activa</option>
															<option value="Interesado">Interesado</option>
															<option value="Asociado">Asociado</option>
															<option value="No Asociado">No Asociado</option>
															<option value="Sin empresa">Sin empresa</option>
														</select>
													</div>
													<div class="white-section">
														<label>Giro:</label>
														<select class="selectpicker" name="giro" id="giro" multiple>
															<option value="Agroindustria / Pesca / Extracción">Agroindustria / Pesca / Extracción</option>
															<option value="Bebidas (alcohólicas)">Bebidas (alcohólicas)</option>
															<option value="Bebidas (no alcohólicas)">Bebidas (no alcohólicas)</option>
															<option value="Calzado">Calzado</option>
															<option value="Comercio Detallista">Comercio Detallista</option>
															<option value="Ropa/accesorios">Ropa/accesorios</option>
															<option value="Transporte Almacenaje y comunicaciones">Transporte Almacenaje y comunicaciones</option>
															<option value="Transporte en camión">Transporte en camión</option>
															<option value="Transporte por agua">Transporte por agua</option>
															<option value="Transporte">Transporte</option>
															<option value="Venta al por menor (ropa)">Venta al por menor (ropa)</option>
														</select>
														<label>Entidad Federativa:</label>
														<select class="selectpicker" name="entidad_f" id="entidad_f" multiple>
															<option value="AGS">AGS</option>
															<option value="BC">BC</option>
															<option value="BCS">BCS</option>
															<option value="CHI">CHI</option>
															<option value="CHS">CHS</option>
															<option value="CMP">CMP</option>
															<option value="COA">COA</option>
															<option value="COL">COL</option>
															<option value="CMX">CMX</option>
															<option value="DGO">DGO</option>
															<option value="GRO">GRO</option>
															<option value="GTO">GTO</option>
															<option value="HGO">HGO</option>
															<option value="JAL">JAL</option>
															<option value="MCH">MCH</option>
															<option value="MEX">MEX</option>
															<option value="MOR">MOR</option>
															<option value="NAY">NAY</option>
															<option value="NL">NL</option>
															<option value="OAX">OAX</option>
															<option value="PUE">PUE</option>
															<option value="QR">QR</option>
															<option value="QRO">QRO</option>
															<option value="SIN">SIN</option>
															<option value="SLP">SLP</option>
															<option value="SON">SON</option>
															<option value="TAB">TAB</option>
															<option value="TLX">TLX</option>
															<option value="TMS">TMS</option>
															<option value="VER">VER</option>
															<option value="YUC">YUC</option>
															<option value="ZAC">ZAC</option>
															<option value="Otros">Otros</option>
														</select>
														<label>Tamaño MKT:</label>
														<select class="selectpicker" name="tamano" id="tamano" multiple>
															<option value="Pequeñas">Pequeñas</option>
															<option value="Medianas">Medianas</option>
															<option value="Grandes">Grandes</option>
															<option value="Otros">Otros</option>
														</select>
														<label>Estatus General:</label>
														<select class="selectpicker" name="estatus_g" id="estatus_g" multiple>
															<option value="Morosa">Morosa</option>
															<option value="Activa">Activa</option>
															<option value="No Activa">No Activa</option>
														</select>
														<label>Estatus CAT:</label>
														<select class="selectpicker" name="estatus_cat" id="estatus_cat" multiple>
															<option value="Activa">Activa</option>
															<option value="No Activa">No Activa</option>
															<option value="SinServicio">SinServicio</option>
															<option value="Moroso">Moroso</option>
														</select>
													</div>
													<div class="white-section">
														<label>Región NIELSEN:</label>
														<select class="selectpicker" name="region" id="region" multiple>
															<option value="VALLE DE MÉXICO">Valle de México</option>
															<option value="CENTRO">Centro</option>
															<option value="BAJÍO">Bajío</option>
															<option value="NORTE">Norte</option>
															<option value="Sureste">Sureste</option>
															<option value="PACÍFICO">Pacífico</option>
															<option value="Otros">Otros</option>
														</select>
														<label>Industria:</label>
														<select class="selectpicker" name="industria" id="industria" multiple>
															<option value="Fabricante">Fabricante</option>
															<option value="Moda">Moda</option>
															<option value="Salud">Salud</option>
															<option value="Financiero">Financiero</option>
															<option value="Alimentos">Alimentos Fresco/Agro</option>
															<option value="Retail">Retail</option>
															<option value="Cadena">Cadena de suministro</option>
														</select>
														<label>Estatus LEI:</label>
														<select class="selectpicker" name="estatus_l" id="estatus_l" multiple>
															<option value="Activa">Activa</option>
															<option value="No Activa">No Activa</option>
															<option value="SinServicio">SinServicio</option>
															<option value="Moroso">Moroso</option>
														</select>
														<label>Nivel:</label>
														<select class="selectpicker" name="nivel" id="nivel" multiple>
															<option value="0">0</option>
															<option value="1">1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
															<option value="6">6</option>
															<option value="7">7</option>
															<option value="8">8</option>
															<option value="9">9</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="Otros">Otros</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="center" >
										<button id="submit" class="button button-large button-circle button-3d submit_btn" style="background-color: #F26335 !important; color: white;"><i class="icon-line2-magnifier"></i> Consultar Tabla <i class="icon-table1"></i></button>
									</div> 
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
		<section id="tablas" >
			<div class="container clearfix">
				
			<div class="content-wrap" style="padding-top: 3%;">
				<div class="container_loader_ppal" id="preloader1" style="display: none;">
					<div class="loader_ppal"></div>
				</div>
				<div class="tab-container" >
						<div style="display: flex; justify-content: space-around;">
							<div class="" id="contPaginas" style="display: none;">
								Paginas 10 de 100
							</div>
							<!-- <div class="" id="" >
								Busqueda <input type="text" id="busqueda">
							</div> -->
						</div>                  			
						<div class="table-responsive double-scroll" >
							<!--Tabla de datos style="overflow: auto; height: 450px;"-->
							
							<table id="datatable1" class="table table-striped table-bordered center" cellspacing="0" width="100%" >
							
								<thead style="background-color: #002c6c; color: white; position: sticky; top: 0;">
									<tr>
										<th>Número asociado</th>
										<th>Nombre</th>
										<th>A. Paterno</th>
										<th>A. Materno</th>
										<th>Número contacto</th>
										<th>Correo</th>
										<th>Puesto</th>
										<th>Area</th>
										<th>Estado contacto</th>
										<th>Telefono</th>
										<th>Titulo</th>
										<th>Region Nielsen</th>
										<th>Entidad federativa</th>
										<th>Colonia</th>
										<th>Municipio</th>
										<th>Dirección</th>
										<th>Sector</th>
										<th>Giro</th>
										<th>Razon social</th>
										<th>Ramo industrial</th>
										<th>Nivel</th>
										<th>Moda</th>
										<th>Salud</th>
										<th>Alimentos</th>
										<th>Financiero</th>
										<th>Retail</th>
										<th>Fabricante</th>
										<th>Cadena</th>
										<th>Catalogo</th>
										<th>Estandar</th>
										<th>LEI</th>
										<th>Estatus general</th>
										<th>Segmento mkt</th>
										<th>Tamaño mkt</th>
										<th>Estatus Mensual</th>
									</tr>
								</thead>
								<tbody id="datatable12">
								</tbody>
							</table>
						</div>
						<!-- <div class="center" >
							<button id="anterior" class="button button-large button-circle button-3d botonAgregar" style="background-color: #F26335 !important; color: white;" disabled="true"> Anterior </button>
							<button id="siguiente" class="button button-large button-circle button-3d botonAgregar" style="background-color: #F26335 !important; color: white;" disabled="true"> Siguiente </button>
						</div>  -->
					</div>
				</div>
			</div>
		</section>
		<!-- Footer
		============================================= -->
        <%- include('../partials/footer'); %>
        <!-- #footer end -->
	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>
	<div id="gotoBottom" class="icon-angle-down"></div>


	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.min.js"></script>

	<!-- Bootstrap Data Table Plugin -->
	<script src="js/components/bs-datatable.js"></script>

	<!-- Bootstrap Select Plugin -->
	<script src="js/components/bs-select.js"></script>

	<!-- Select Splitter Plugin -->
	<script src="js/components/selectsplitter.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

	<script src="js/xlsx.full.min.js"></script>
	<script>
	//Carga los datos de la pagina en la url para pintar la consulta en la tabla
	$(document).ready(function () {
		$('#datatable1').dataTable({
			ajax: {
				url: "/data",
				dataSrc:"",
			}
		});
	});

	$('.submit_btn').on('click', function (e) {
  		e.preventDefault();
		//contactos
  		const selectedarea = Array.from($('#area option:checked')).map(option => option.value);
		const selectedpuesto = Array.from($('#puesto option:checked')).map(option => option.value);
		const selectedEstado = Array.from($('#estado_c option:checked')).map(option => option.value);
		//empresas
		const selectedSector = Array.from(jQuery('#sector option:checked')).map(option => option.value);
		const selectedRamos = Array.from(jQuery('#ramo_i option:checked')).map(option => option.value);
		const selectedSegmento = Array.from(jQuery('#segmento option:checked')).map(option => option.value);
		const selectedEstatusC = Array.from(jQuery('#estatus_cod option:checked')).map(option => option.value);
		const selectedEstatusM = Array.from(jQuery('#estatus_men option:checked')).map(option => option.value);
		const selectedGiros = Array.from(jQuery('#giro option:checked')).map(option => option.value);
		const selectedEntidad = Array.from(jQuery('#entidad_f option:checked')).map(option => option.value);
		const selectedTamanio = Array.from(jQuery('#tamano option:checked')).map(option => option.value);
		const selectedEstatusG = Array.from(jQuery('#estatus_g option:checked')).map(option => option.value);
		const selectedEstatusCat = Array.from(jQuery('#estatus_cat option:checked')).map(option => option.value);
		const selectedregionN = Array.from(jQuery('#region option:checked')).map(option => option.value);
		const selectedEstatusLei = Array.from(jQuery('#estatus_l option:checked')).map(option => option.value);

		// Construir la URL de la solicitud AJAX con los filtros si están presentes
		let uri = '/data';
	  	const queryParams = [];

		if (selectedarea.length > 0) {
			queryParams.push(`area=${selectedarea.join(',')}`);
		}
		if (selectedpuesto.length > 0) {
			queryParams.push(`puesto=${selectedpuesto.join(',')}`);
		}
		if (selectedEstado.length > 0) {
			queryParams.push(`estado_c=${selectedEstado.join(',')}`);
		}
		if (selectedSector.length > 0) {
    		queryParams.push(`sector=${selectedSector.join(',')}`);
  		}
		if (selectedRamos.length > 0) {
    		queryParams.push(`ramo_i=${selectedRamos.join(',')}`);
  		}
		if (selectedSegmento.length > 0) {
    		queryParams.push(`segmento=${selectedSegmento.join(',')}`);
  		}
		if (selectedEstatusC.length > 0) {
    		queryParams.push(`estatus_cod=${selectedEstatusC.join(',')}`);
  		}
		if (selectedEstatusM.length > 0) {
    		queryParams.push(`estatus_men=${selectedEstatusM.join(',')}`);
  		}
		if (selectedGiros.length > 0) {
    		queryParams.push(`giro=${selectedGiros.join(',')}`);
  		}
		if (selectedEntidad.length > 0) {
    		queryParams.push(`entidad_f=${selectedEntidad.join(',')}`);
  		}
		if (selectedTamanio.length > 0) {
			queryParams.push(`tamano=${selectedTamanio.join(',')}`);
		}
		if (selectedEstatusG.length > 0) {
			queryParams.push(`estatus_g=${selectedEstatusG.join(',')}`);
		}
		if (selectedEstatusCat.length > 0) {
			queryParams.push(`estatus_cat=${selectedEstatusCat.join(',')}`);
		}
		if (selectedregionN.length > 0) {
			queryParams.push(`region=${selectedregionN.join(',')}`);
		}
		if (selectedEstatusLei.length > 0) {
			queryParams.push(`estatus_l=${selectedEstatusLei.join(',')}`);
		}
		if (queryParams.length > 0) {
			uri += `?${queryParams.join('&')}`;
		}

		console.log(uri); // Añade esta línea para verificar la URL

		// Realizar la solicitud AJAX
		fetch(uri)
		.then(result => result.json())
		.then(rs => {
		$('#datatable1').DataTable().clear().rows.add(rs).draw();
		})
		.catch(error => {
		console.log("Error: ", error)
		});
	})

	$('.download-btn').on('click', function (e) {
		e.preventDefault();
		const headers = ['numero_asociado','Nombre','A_Paterno','A_Materno','num_contacto','correo_contacto','puesto','area','estado','num_telefono','titulo','region_nielsen','entidad_federativa','colonia','municipio','direccion','sector','giro','razon_social','ramo_industrial','nivel','moda','salud','alimentos','financiero','retail','fabricante','cadena','catalogo','estandar','lei','bk_contactostatus','segmento','tamanio','estatus_mes'];
		// Obtén los datos de la tabla DataTable
		const table = $('#datatable1').DataTable();
		const data = table.data().toArray();

		const excelData = [headers, ...data];

		// Crea un libro de Excel y una hoja de trabajo
		const wb = XLSX.utils.book_new();
		const ws = XLSX.utils.aoa_to_sheet(excelData);

		// Agrega la hoja de trabajo al libro de Excel
		XLSX.utils.book_append_sheet(wb, ws, 'Datos');

		// Genera el archivo Excel y descárgalo
		XLSX.writeFile(wb, 'BaseMaestra.xlsx');
	});

	</script>
	
	<script>
		$('.selectsplitter').selectsplitter();
	</script>
</body>
</html>