
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <%- include('../partials/head'); %>
	<!-- Document Title
	============================================= -->
	<title>HOME GS1</title>
	<script>
		window.onpageshow = function(){
			fetch('/validar')
			.then(result => result.json())
			.then(rs => {
				console.log(rs)
				var usuario = rs.usuario
				if(!usuario){
					window.location=`/`
				}
			}) 
			.catch(error => {
				console.log("Error: ", error)
			})
		}
	</script>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<!-- #top-bar end -->

		<!-- Header
		============================================= -->
        <%- include('../partials/header'); %>
		<!-- #header end -->
        
		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix center">
                <h1 class="azul">Bienvenido Administrador</h1>
				<br/>
				<div class="center" >
					<a href="/creacion" id="boton" class="button button-large button-circle button-3d botonAgregar" style="background-color: #F26335 !important; color: white;"><i class="icon-plus"></i> Manejo de Usuario <i class="icon-users"></i></a>
				</div> 
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix center">

					<img src="/images/logoga.png" alt="">
					<div style="margin-top: 15% !important;"></div>
				</div>
			</div>
		</section><!-- #content end -->
        <!-- #content end -->

		<!-- Footer
		============================================= -->
        <%- include('../partials/footer'); %>
        <!-- #footer end -->

	</div><!-- #wrapper end -->

	<script>

	</script>

</body>
</html>