<section id="content">
    <div class="content-wrap">
        <div class="container clearfix center">
            <div id="message"></div>
                <!-- Content
            ============================================= -->
            <div class="table-responsive">
                <table id="datatableUsu" class="display nowrap center"
                    cellspacing="0" width="100%">
                <thead style=" background-color: #002c6c; color: white;" class="center">
                    <tr>
                        <th>Nombre</th>
                        <th>User name</th>
                        <th>Rol</th>
                        <th>Contraseña</th>
                        <th>OPCIONES</th>
                    </tr>
                    </thead>
                    <tbody class="center">
                    </tbody>
                </table>
            </div><!-- #content end -->
        </div>
    </div>
</section>
<br>