<!-- Contenido principal -->
<section>
    <br>
    <!-- Page Title ============================================= -->
    <section id="page-title">

        <div class="col-lg-6 admin-t">
            <h3 class="titleStrongBlue">USUARIOS</h3>
        </div>

        <div class="col-lg-12 admin-button">
            <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#myModal" style="background-color: #0C4899; "><i class="icon-line-user-plus"></i> Agregar Usuario</button>
        </div>
        <hr class="col-lg-12 admin-linea">

    </section><!-- #page-title end -->

</section><!-- #page-title end -->
<br>